*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

$GradientStart:hsl(6, 100%, 80%);
$GradientEnd:hsl(335, 100%, 65%);
$PaleBlue: hsl(243, 100%, 93%);
$GrayishBlue: hsl(229, 7%, 55%);
$DarkBlue: hsl(228, 56%, 26%);
$VeryDarkBlue: hsl(229, 57%, 11%);
$usage: 815;

$fontFamily: 'Raleway', sans-serif;

@function storage($gb)
{
    @return $gb;
}

@mixin flex($direction, $align:'', $justify:'')
{
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}